@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #757575;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


.topnav {
    background-color: #0000a8;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.topnav label {
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.topnav button {
    background-color: #ffffff;
    color: white;
    text-align: right;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0.5% 1%;
    width: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.topnav button img {
    width: 20px; 
    height: 20px; 
    margin-top: 2px;
}

.topnav button:hover {
    background-color: #625f5f; 
    color: #ffffff;
}

#mainSection {

    font-family: 'Poppins', sans-serif;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    height: 80%; 
    

}
#mainSection #aiText {
    resize: none;
    width: 75vw;
    height: 60vh; /* Fixed height for testing */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 5%;
    box-sizing: border-box;
    font-size: 2em;
    border-radius: 40px;
    /* width:80%;
    height:80%; */
    
}

#mainSection #textInput {
    width: 50vw;
    height:10vh;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;

    
}

#mainSection #submitButton {
    
    width: 10vw;
    height:5vh;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

#mainSection #submitButton:hover {
    background-color: #625f5f; 
    color: #ffffff;
}