body{
    background-color: #757575;
    font-family: Arial, sans-serif;
    margin: 0;
}
h1 {
    color: #ffffff;
    text-align: center;
}
form{
    margin-top: 100px;
    text-align: center;

}

.topnav{
    background-color: #0000a8;
    overflow: hidden;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: right;
    padding: 0;
    margin:0;
}

.topnav label{
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav button{
    background-color: #ffffff;
    color: white;
    text-align: right;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 0.5% 1%;
}

